/* :root 는 루트 요소인 html을 가리킴. []부분은 html태그의 속성을 나타냄. */
/* html의 color-theme 속성이 light인 경우 */
:root[color-theme="light"] {
  --background: #fff;
  --text-color: #000;
  --border-color: rgb(90, 90, 90);
  --title: "It's light mode!";
  --light-logo-visiblity: visible;
  --dark-logo-visibility: hidden;
  --logo-left: 0%;
  --logo-right: 66%;
  --logo-rotate: rotate(0);
  --light-color-delay: 0s;
  --dark-color-delay: 0.5s;
  --dark-logo-opacity: 0;
  --light-logo-opacity: 1;
}
/* html의 color-theme 속성이 dark인 경우 */
:root[color-theme="dark"] {
  --background: #000;
  --text-color: #fff;
  --border-color: rgb(207, 207, 207);
  --title: "It's dark mode!";
  --light-logo-visiblity: hidden;
  --dark-logo-visibility: visible;
  --logo-left: 66%;
  --logo-right: 0%;
  --logo-rotate: rotate(180deg);
  --light-color-delay: 0.5s;
  --dark-color-delay: 0s;
  --dark-logo-opacity: 1;
  --light-logo-opacity: 0;
}
html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background);
  color: var(--text-color);
  transition: background 0.5s ease-in, color 0.5s ease-in;
  /* ease-in은 transition을 느리다가 빠르게 해준다. */
}
#title::after {
  content: var(--title);
}
header,
footer {
  display: flex;
  justify-content: center;
  height: 5%;
}
header {
  border-bottom: solid 1px var(--border-color);
}
footer {
  border-top: solid 1px var(--border-color);
  align-items: center;
}
section {
  height: 90%;
  /* padding: 10%; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logo-box {
  position: relative;
  width: 300px;
  height: 100px;
  overflow: hidden;
}
.light-logo,
.dark-logo {
  left: var(--logo-left);
  right: var(--logo-right);

  transition: 1s;
  transform: var(--logo-rotate);
}
.light-logo {
  position: absolute;
  font-size: 100px;
  visibility: var(--light-logo-visiblity);
  opacity: var(--light-logo-opacity);
  transition-delay: color var(--light-color-delay);
}
.dark-logo {
  position: absolute;
  font-size: 100px;
  visibility: var(--dark-logo-visibility);
  opacity: var(--dark-logo-opacity);
  transition-delay: color var(--dark-color-delay);
}
